@media (max-width: 700px) {
    footer{
        display: block !important;
    }
    .wrapper{
        margin-left: -50px;
    }
    .wrapper .button{
        padding: 0 7px !important;
    }
    .services-thumb:hover .services-icon-wrap{
        background: transparent !important;
        border-color: transparent !important;
        color: transparent !important
    }
    .doctrine{
        display: none;
    }
}